extends layout

block content
  div.container
    div.row
      h1.page-header= title
    
    div.row
      button.btn.btn-default.btn-sm(onClick="initAddRow()")
        span(aria-hidden="true") +1 Row
    br
    div.row
      #dp