doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/demo.css')
    link(rel='stylesheet', href='/stylesheets/media/layout.css')
    link(rel='stylesheet', href='/stylesheets/media/elements.css')

    script(src='/javascripts/jquery-1.12.2.min.js')
    script(src='/javascripts/daypilot/daypilot-all.min.js')
    script(src='/javascripts/dp.js')
    
  body(onload="init()")
    block content
