extends layout_modal

block content
  div.modal-header 
    button(class='close', onClick="modclose('Close')")
      span(aria-hidden="true") x
    h4.modal-title Delete Resource
    
  div(class='modal-body')
    form#f
      div.row
        div.col-xs-3
          label Resource
        div.col-xs-9.pull-right
          select(name='resource', class='selectpicker', data-width='fit')
            each resource in resources
              option(value=resource.id)=resource.name
      br
      div.row
        div.col-xs-12
          label All jobs linked to this resource will be deleted! Confirm delete?
      br
      input.btn.btn-primary(type='submit',value='Yes')